<?xml version = '1.0' encoding = 'windows-1252'?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
  <servlet>
    <servlet-name>EventLogger</servlet-name>
    <servlet-class>ict.nishat.net.Servlet.JobServlet</servlet-class>
    <init-param>
      <param-name>cronExpr </param-name>
      <param-value> 0 5 0 1/1  * ? *</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>EventLogger</servlet-name>
    <url-pattern>/eventLogger</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/eventLogger</welcome-file>
  </welcome-file-list>
</web-app>
